<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tu Comentario</title>
    <link rel="stylesheet" href="/stylesheets/col.css" >
    <script src="https://www.google.com/recaptcha/api.js?render=6LeqpyImAAAAANlW5LUrdf-SV4rXq-sG_2XWup0R" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("demo-form").submit();
      }
    </script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVJVE2CL7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-ZVJVE2CL7');
      </script>

<script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
  </script>

    
</head>
<body> 
     
     <form id="demo-form" action="/"
     action="https://formsubmit.co/josephortegabrea@gmail.com" method="post">
        <h3>Registrate</h3>
        <label for="Nombre">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" placeholder="Escribe Tu Nombre" >

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Escribe Tu Correo" >
        
        <label for="Venezuela">donde eres:</label>
        <select name="pais">   
            <option  value="Venezuela">Venezuela</option>
            <option value="Colombia">Colombia</option>
            <option value="Brasil">Brasil</option>
            <option value="Argentina">Argentina</option>
            <option value="Perú">Perú</option>
            <option value="Chile">Chile</option>
            <option value="Ecuardor">Ecuardor</option>
            <option value="Otro País">Otro País</option>
        </select>

        <label for="Mensaje">Mensaje:</label>
        <textarea name= "Comentario" id="Mensaje" placeholder="Escribe Tu Mensaje"></textarea>

        <button class="g-recaptcha" data-sitekey
        ="6LeqpyImAAAAANlW5LUrdf-SV4rXq-sG_2XWup0R" data-callaback ="onSumit"  data-action='submit' type></button>
        <hr/>
        <input type="submit" value="Listo">
        <input type="hidden" value="localhost:3000">

    
        

     </form>

     <hr/>
     <h2> Quiere regresar a las pagina principal has clis <a href="/">aquí</a> </h2>
</body>
</html>