<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
  data-client_id="429201105693-9h9ql9dkuag7rert2nfsaricvf723kl4.apps.googleusercontent.com"
  data-login_uri="https://accounts.google.com/InteractiveLogin/signinchooser?elo=1&ifkv=Af_xneEvGVjcyOVSN6U_c292fHVm8g7Pbgha_PBrkSe3KICxanKmwUXYBuhhRC7OKXL4GPCBfnBy_g&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
  data-auto_prompt="false">
</div>
<div class="g_id_signin"
  data-type="standard"
  data-size="medium"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="pill"
  data-logo_alignment="left">
</div>


    <title>Tu Comentario</title>
    <link rel="stylesheet" href="/stylesheets/col.css" >
    <script src="https://www.google.com/recaptcha/api.js?render=6LeqpyImAAAAANlW5LUrdf-SV4rXq-sG_2XWup0R" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("demo-form").submit();
      }
    </script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVJVE2CL7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-ZVJVE2CL7');
      </script>

<script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
  </script>

    
</head>
<body> 

     
     <form id="demo-form" action="/" method="post">
        <h3>Registrate</h3>
        <label for="Nombre">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Escribe Tu Nombre"  placeholder=" ">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Escribe Tu Correo"  placeholder=" " >
        
        <label for="Venezuela">donde eres:</label>
        <select name="pais" placeholder=" ">   
            <option value="Venezuela">Venezuela</option>
            <option value="Colombia">Colombia</option>
            <option value="Brasil">Brasil</option>
            <option value="Argentina">Argentina</option>
            <option value="Perú">Perú</option>
            <option value="Chile">Chile</option>
            <option value="Ecuardor">Ecuardor</option>
            <option value="Otro País">Otro País</option>
        </select>

        <label for="Mensaje">Mensaje:</label>
        <textarea name="comment" id="comment" placeholder="Escribe Tu Mensaje" placeholder=" "></textarea>

        <div class="form_group">
        <button class="g-recaptcha" data-sitekey
        ="6LeqpyImAAAAANlW5LUrdf-SV4rXq-sG_2XWup0R" data-callaback ="onSumit"  data-action='submit' type></button> 
      </div>
        
        <hr/>
        
        <button type="submit" > Listo </button>

        
        


     </form>

     <hr/>
     <h2> Quiere regresar a las pagina principal has clis <a href="/">aquí</a> o quiere ver las <a target="_blank" href="contactos">lista de contactos</a> </h2>
</body>
</html>